---
const {picSource, name} = Astro.props
---


<a href=`/tasty-venus/${name}` class="flex flex-col items-center bg-amber-300  rounded-lg shadow-sm md:flex-row md:max-w-xl hover:bg-amber-400 ">
    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src={picSource} alt={name}>
    <div class="flex flex-col justify-between p-4 leading-normal">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-amber-900">{name}</h5>
    </div>
</a>
